beautifulsoup4==4.13.3
dotenv==0.9.9
fastapi==0.115.12
importlib-metadata==8.0.0
jaraco.collections==5.1.0
openai==1.72.0
packaging==24.2
platformdirs==4.2.2
requests==2.32.3
tomli==2.0.1
uvicorn==0.34.0